<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

    <table class="job-listing">
        <th:block th:each="job: ${jobs}">
        <tr>
            <td>ID: </td>
            <td th:text="${job.getId()}"></td>
        </tr>
        <tr>
            <td>Employer: </td>
            <td th:text="${job.getEmployer()}"></td>
        </tr>
        <tr>
            <td>Location: </td>
            <td th:text="${job.getLocation()}"></td>
        </tr>
        <tr>
            <td>Position Type: </td>
            <td th:text="${job.getPositionType()}"></td>
        </tr>
            <tr>
                <td>Core Competency: </td>
                <td th:text="${job.getCoreCompetency}"></td>
            </tr>
            <tr>
            <td> <br> </td>
            </tr>
         </th:block>
    </table>

</div>

</body>
</html>